name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install packages
      run: sudo apt-get -y install libbsd-dev libevent-dev pkgconf
    - name: Checkout sources
      uses: actions/checkout@v4
    - name: Make build
      run: make
    - name: Make test
      run: make test
    - name: Make install
      run: sudo make install
